@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

/* reset */
body,
div,
header,
h1,
button,
p {
  padding: 0;
  margin: 0;
}

/* background / header*/

body {
  height: 100vh;
  width: 100vw;
  background: rgb(240, 244, 255);
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
  display: flex;
  align-items: center;
}

.layout {
  max-width: 400px;
  margin: 0 auto;
}
header {
  margin-bottom: 60px;
  text-align: center;
}

header img {
  width: 244px;
}

/* timer */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  margin-bottom: 60px;
  border-radius: 16px;
  margin-bottom: 60px;
  width: 400px;
}

h1 {
  padding: 23px 0px;
  text-align: center;
  font-family: Pretendard-Bold;
  font-size: 24px;
  color: #fff;
  border-bottom: 1px solid #3d538a;
  width: 312px;
}

.contents {
  display: flex;
  gap: 22px;
  justify-content: center;
  /* align-items: center; */
  padding: 33px 0 40px;
  border-top: 1px solid #5b75b4;
  width: 312px;
  position: relative;
}

.dot1 {
  position: absolute;
  left: 33%;
  bottom: 36%;
}

.dot2 {
  position: absolute;
  right: 33%;
  bottom: 36%;
}

.hrs,
.min,
.sec {
  text-align: center;
  font-family: Pretendard-Bold;
  font-size: 12px;
  color: #a5b6ee;
}

.box {
  background-image: url(./assets/box.svg);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-bottom: 4px;
}

.box p {
  color: #fff;
  font-size: 40px;
}

/* 버튼 */
.btn {
  margin-bottom: 40px;
  display: flex;
  gap: 12px;
}

button {
  font-family: Pretendard-Bold;
  font-size: 14px;
  color: #617199;
  padding: 15px 23px;
  background-color: #324577;
  border-radius: 50px;
  border: none;
}

/* footer */
.copyright {
  font-size: 14px;
  color: #8596bf;
  text-align: center;
}
